<div class="container-fluid"  >
  <div class="row justify-content-center"  >
    <div class="col-12">

    <!-- <h5>Here are some sites you might want to check out.</h5> -->
    <div class="bottom-summary">

        <div class="section">
          <a href="https://www.linkedin.com/in/michael-otterbine-11091928/" title="My LInkedIn profile" target="_blank"><img src="./assets/images/linkedin-in-logo.png"></a>
        </div>

        <div class="section">
          <a href="https://www.shu.edu/" title="Seton Hall University - My BA in Journalism and political science." target="_blank"><img src="./assets/images/SetonHallLogo.png"></a>
        </div>

        <div class="section">
          <a href="https://www.devry.edu/" title="DeVry University - My BS in EET" target="_blank"><img src="./assets/images/devry-logo.svg" style="max-height: 20px;margin-top: 15px;"></a>
        </div>

        <div class="section">
          <a href="https://aws.amazon.com/" title="Amazon Web Services" target="_blank"><img src="./assets/images/AWSLogoSm.png" style="max-height: 20px;margin-top: 15px;"></a>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- <div class="parent">
  <div class="section yellow" contenteditable>
  Min: 150px / Max: 25%
  </div>
  <div class="section purple" contenteditable>
    This element takes the second grid position (1fr), meaning
    it takes up the rest of the remaining space.
  </div>
</div> -->