<div class="row justify-content-center article-section">
  <div class="col-xs-12 col-sm-8" style="text-align:center;margin:0;">
    <H5 id="rss-title" class="headliner"></H5>
    <div class="rss-carousel">
      <div id="carousel1" class="carousel slide" data-ride="carousel" style="width:100%;">

        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-caption-background" ></div>
        </div>

        <!-- Indicators -->
        <div>
          <ul id="carousel1-indicators" class="carousel-indicators" >
          </ul>
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#carousel1" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#carousel1" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>

        <!-- <div style="height:70px;"></div> -->

      </div>
    </div>
  </div>
</div>
