<div class = "row justify-content-center" style="margin: 0;padding:0;">
  <div class="col-12" style="background-color:#fff;margin: 0;padding:0 0 0 4px; ">
    <table >
      <tr style="vertical-align: top;">
        <td>
          <div style="float:left;">
            <app-os-popup></app-os-popup>
            <img class="user-img d-none d-sm-block" src=".\assets\images\MO.jpg">
            <img class="user-img d-block d-sm-none" src=".\assets\images\MO.jpg" width="90" height="90" style="margin:0 .5em .3em 0;">
          </div>
          <span class="d-block d-sm-none">
            <h5 style="line-height: 1em;font-weight: 700;margin-bottom:1.5em;text-align: center;">Hi, I'm Mike.<br>{{greeting1}}</h5>
            <p>{{greetingDetail1}}</p>
            <p>{{greetingDetail2}}</p>
          </span>
        </td>
        <td class="d-none d-sm-block">
          <table  style="height: 200px;margin:.7em .7em 0m .7em ;padding:0;">
            <tr style="vertical-align: middle;">
              <td>
                <h5 style="line-height: 1em;font-weight: 700;margin-bottom:1.5em;text-align: center;">{{greeting1}}</h5>
                <p>{{greetingDetail1}}</p>
                <p>{{greetingDetail2}}</p>
              </td>
            </tr>
          </table>
         </td>
      </tr>
    </table>

    <div>
      <div>
      </div>
    </div>
  </div>

</div>

