<div class="row justify-content-center" style="padding-top:120px;margin:0;">
  <div class="col-12" style="text-align: center;">
    <h2>Otterbine Solutions' ODB2 Windows Application</h2>
    <p>These application installers are <strong>NOT</strong> Microsoft certified.<br>You may get a warning during installation.</p>
    <div style="height:275px;margin-bottom: 6px;">
      <img src="./assets/images/Install_Img1.jpg" height="275">
      <!-- <img src="./assets/images/Install_Img2.jpg"> -->
    </div>
    <p>Then, You should be able to click "Run anyway"</p>
    <div style="height:275px;margin-bottom: 6px;">
      <img src="./assets/images/Install_Img2.jpg" height="275">
      <!-- <img src="./assets/images/Install_Img2.jpg"> -->
    </div>
    <p style="margin-top: 20px;">This application is <strong>Experimental in nature</strong>.<br><strong class="text-danger">***Any serious vehicle issues should be referred to qualified personnel***</strong></p>
  <div>
    <a href="https://www.otterbinesolutions.com/downloads/x86/x86.zip"style="tranform:scale(3);">
      ODB2 <span style="transform: scale(2.0)"></span>Windows App Download (x86)
    </a>
  </div>
  <div >
    <a href="https://www.otterbinesolutions.com/downloads/x64/x64.zip">
    ODB2 Windows App Download (x64)
  </a>
</div>
<div style="margin-bottom:70px;">
  <a href="https://www.otterbinesolutions.com/downloads/OS_ODB2.zip">
  ODB2 Windows App Download (Just the Files - zipped)
</a>
</div>
</div>
</div>